@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$color-1: #ededed;
$color-2: #4a4a4a;
$color-3: #ea7f28;

.car {
  border: 2px solid $color-1;
  display: flex;
  .image {
    width: 120px;
    height: 95px;
    margin: 12px;
    margin-right: 24px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    margin: 8px;
    .title {
      font: bold 24px 'Roboto', sans-serif;
      color: $color-2;
      margin: 0px;
      margin-top: 8px;
      margin-bottom: 12px;
    }
    .description {
      color: $color-2;
      font: 14px 'Roboto', sans-serif;
      margin: 0;
      margin-bottom: 12px;
    }
    .link {
      color: $color-3;
      text-decoration: none;
      font: 14px 'Roboto', sans-serif;
    }
  }
}
